/*Nav Bar*/
nav{
  position: absolute;
  top: 0;
}
nav .brand-logo {
  padding-left: 20px;
}

/*transisiton about content*/

#image-test {
  padding-top: 10px;
  opacity: 0;
}
 .about-list li{
  opacity: 0;
 }

 /*Animation to header*/

 .header:hover {
  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

 }

 .card-image:hover{
  animation-name: tossing;
  -webkit-animation-name: tossing;  

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
 }
