/*Nav Bar*/
nav{
  position: absolute;
  top: 0;
}
nav .brand-logo {
  padding-left: 20px;
}

/*transisiton about content*/

#image-test {
  padding-top: 10px;
  opacity: 0;
}
 .about-list li{
  opacity: 0;
 }
